APP_NAME=Pigia Shuru
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

GEMINI_API_KEY=
GEMINI_REALTIME_MODEL=
